body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.container {
  display: flex;
  height: 100vh;
}

.left-panel,
.middle-panel,
.right-panel {
  flex: 1;
  padding: 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.middle-panel {
  flex: 2;
}

.game-log {
  height: 80%;
  overflow-y: scroll;
  border: 1px solid #ccc;
  padding: 8px;
  margin-bottom: 8px;
  background-color: #fff;
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 16px;
}

#input {
  flex: 1;
  margin-right: 8px;
  padding: 8px;
  border: 1px solid black;
  border-radius: 4px;
  background-color: #f8f8f8;
  box-sizing: border-box;
  width: 100%;
  
}

#submit-btn {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  background-color: #0a60a6;
  color: #fff;
  cursor: pointer;
}

.map {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  gap: 2px;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  padding: 2px;
}

.map-tile {
  width: 32px;
  height: 32px;
  background-color: #e6e6e6;
  border: 1px solid #ccc;
}

.message {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 8px;
}

.message-timestamp {
  font-size: 0.7em;
  color: #999;
  margin-bottom: 4px;
}

.message-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 4px;
}

.message-content {
  padding: 4px 8px;
  border-radius: 4px;
  color: #fff;
}

/* Different colors for each player */
.player1 .message-content {
  background-color: #7daaf1;
}

.player2 .message-content {
  background-color: #a5c99b;
}

.player3 .message-content {
  background-color: #f3a47c;
}

/* Media queries for responsive design */
@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .left-panel,
  .middle-panel,
  .right-panel {
    padding: 8px;
  }

  .game-log {
    height: 40%;
  }
}

@media screen and (max-width: 576px) {
  .map {
    display: none;
  }
}
