* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#main-container {
  display: flex;
  flex: 1;
  flex-direction: row;
  width: 100%;
}

#character-sheet,
#chat-section,
#map-section {
  flex: 1;
  margin: 10px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
  margin-bottom: 20px;
  color: #333;
  font-size: 24px;
}

#game-log {
  flex: 1;
  overflow-y: scroll;
  padding: 10px;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  height: calc(100% - 100px);
}


#game-log .message {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

#game-log .message .author {
  font-weight: bold;
  margin-bottom: 5px;
}

#game-log .message .text {
  background-color: #e8e8e8;
  padding: 5px 10px;
  border-radius: 5px;
  position: relative;
}

#game-log .message .text .timestamp {
  font-size: 10px;
  color: #777;
  position: absolute;
  top: 0;
  right: 5px;
}

#chat-controls {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#chat-box {
  flex: 1;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px 10px;
  margin-right: 10px;
  outline: none;
}

#submit-btn {
  height: 40px;
  background-color: #4CAF50;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  padding: 0 15px;
}

#submit-btn:hover {
  background-color: #45a049;
}
